/* TODO: add sticky table header when scrolling down */
/* TODO: Make some of the lesser important columns in gray color and smaller */
/* TODO: Fix something with the viewfinder so it shows buttons on left side with mobile devices */


/*
font-family: 'Playfair Display', serif;
font-family: 'Source Code Pro', monospace;
*/

html {
    box-sizing: border-box;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Source Code Pro', monospace;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header {
    display: "";
}

body {
    display: flex;
    flex-direction: column;
    margin: 8px 8px 8px 38px;
    min-height: 95vh;
    /* border: 2px solid green; */
}

#input_section {
    /* border: 1px dotted red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, auto);
    gap: 4px 4px;
    max-width: 1200px;
}
.inpField {
    border-radius: 5px;
    border:1px solid rgb(0, 0, 0);
    background: rgba(114, 0, 0, 0.096);
    display: flex;
    flex-direction: column;
    max-width: 300px;
}


footer {
    /* border: 2px solid red; */
    margin-top: auto;
}

#autofill {
    text-align: center;
}
input {
    text-align: right;
    max-width: 150px;
    background-color: rgba(205, 250, 161, 0.096);
    margin: 5px;
}
/* #results { */
    /* -webkit-transform: translate3d(0, 0, 0); */
	/* transform: translate3d(0, 0, 0); */
    /* overflow:hidden */
    /* overflow:scroll */
    /* table-layout: fixed */
/* } */
table {
    font-family: 'Source Code Pro', monospace;
    /*supposed to improve performance somehow? https://stackoverflow.com/questions/8640692/slow-response-when-the-html-table-is-big  */ 
        /* transform is supposed to improve performance by putting the client machine to use 3d acceleration? */
        transform: translate3d(0, 0, 0);   
        /* the table-layout fixed is a performance improvement, though i see no change in the interaction */
        table-layout: fixed;
        
    margin: 10px auto;
}
thead th {
    background: #8a97a0;
    color: #FFF;
    border: 1px solid teal;
    padding: 6px;
        table-layout: fixed;
}
/* tbody {
    table-layout: fixed;
} */
tr {
    background: #f4f7f8;
    border-bottom: 1px solid #ffff;
    margin-bottom: 5px;
        table-layout: fixed;
}
tr:nth-child(even) {
    background: #e8eeef;
}
td, th[scope="row"] {
    border: 1px rgb(170, 208, 233) groove;
    padding: 2px;
    text-align: center;
        table-layout: fixed;
        /* these 2 sets of code don't seem to do nothing */
        /* text-overflow: ellipsis;  */
        /* overflow-x: hidden; */
        /* white-space: nowrap; */
        
}
.td_small {
    font-size: .90rem;
    font-style: italic;
        table-layout: fixed;
}

/* .collapsible {
    display: none;
} */

.collapseDivBtn {
    position: relative;
    left: -50px;
        table-layout: fixed;
}
.collapseBtn {
    position: absolute;
    white-space: nowrap;
}
.tempPlaceHolderWrapperClass {
    position: relative;
    /* left: 900px;  <- the position adjustment will be dynamically determined based on the table row width */
        /* table-layout: fixed; */
}
.tempPlaceHolderSpanClass {
    position: absolute;
    white-space: nowrap;
}

.blankRow {
    height: 15px;
}

h1 {
    margin: 20px 10px 0px 0px;
}
h2 {
    margin: 5px 0px;
}

h3 {
    margin: 5px 0px;
}
h4 {
    margin: 5px 0px;
}
ul {
    list-style-type: disclosure-closed;   
    margin: 4px 0px;
}