/* TODO: add sticky table header when scrolling down */


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 8px;
    min-height: 95vh;
    /* border: 2px solid green; */
}

footer {
    /* border: 2px solid red; */
    margin-top: auto;
}

input {
    text-align: right;
    max-width: 150px;
}

table {
    margin: 10px auto;
}
thead th {
    background: #8a97a0;
    color: #FFF;
    border: 1px solid teal;
    padding: 6px;
}
tr {
    background: #f4f7f8;
    border-bottom: 1px solid #ffff;
    margin-bottom: 5px;
}
tr:nth-child(even) {
    background: #e8eeef;
}
td {
    border: 1px rgb(170, 208, 233) groove;
    padding: 2px;
    text-align: center;
}
.td_small {
    font-size: .90rem;
    font-style: italic;
}

.collapsible {
    display: none;
}

.collapseDivBtn {
    position: relative;
    left: -50px;
}
.collapseBtn {
    position: absolute;
    white-space: nowrap;
}

.blankRow {
    height: 15px;
}